# Node
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# Env files
.env
.env.*
!.env.example

# Build outputs
dist/
build/
.next/
out/
coverage/

# System files
.DS_Store
Thumbs.db

# Local settings
*.local
*.log

# Keys or secrets
llm/
*.pem
*.key
*.json
